@import 'tailwindcss';

@theme {
  --font-Inter: 'Inter', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;

  --color-primary: #ed1b49;
  --color-primary-100: #fcb1b5;

  --color-gray-010: #f1f5f5;
  --color-gray-100: #ebf0f0;
  --color-gray-150: #e6e6e6;
  --color-gray-200: #cfdbd5;
  --color-gray-500: #c2c2c2;
  --color-gray-600: #5d5d5b;
  --color-gray-700: #4f4f4f;
}

body {
  @apply min-w-screen min-h-screen font-Inter;
}

* {
  box-sizing: border-box;
  outline: none;
}

p,
span {
  font-size-adjust: 0.5;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
